name: Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build with Maven (Skip Tests)
      run: mvn clean package -DskipTests

    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Log in to Azure Container Registry
      run: az acr login --name tridImage

    - name: Build and push Docker image
      run: |
        docker build -t backend_vr:latest .
        docker tag backend_vr:latest tridimage.azurecr.io/backend_vr:latest
        docker push tridimage.azurecr.io/backend_vr:latest

    - name: Deploy to Azure Web App
      run: |
        az webapp config container set --name trid --resource-group go-trid --container-image-name tridimage.azurecr.io/backend_vr:latest --container-registry-url https://tridimage.azurecr.io
        az webapp restart --name trid --resource-group go-trid